.container {
    /* background-color: lightgray; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
}