/* BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
}

/* CARD */

.container {
    width: 400px;
    margin: 100px auto;
}

.card {    
    background-color: #373f4d;
    color: #fff;
    text-align: center;
    padding: 60px 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .5);
}

.card h1 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 300;
}

.card p {
    font-size: 15px;
    margin-bottom: 30px;
}

/* FORM GROUP */

.form-group {
    margin-top: 20px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    font-size: large;
    border: none;
    background: #f1f1f1;
}

.form-group button {
    width: 100%;
    padding: 15px 10px;
    font-size: large;
    background: linear-gradient(
        90deg,
        rgba(255, 123, 89, 1) 13%,
        rgba(255, 151, 98, 1) 100%
    );
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-group button:hover {
    background: linear-gradient(
        90deg,
        rgba(255, 151, 98, 1) 13%,
        rgba(255, 123, 89, 1) 100%
    );
}