* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --container-width: 800px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background: #000;
  width: var(--container-width);
  height: 200px;
  display: flex;
}

.item {
  background: coral;
  height: calc(100% - 20px);
  min-width: calc(calc(100% / 5) - 20px);
  margin: 10px;
}
