/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    /* background: #ccc; */
    /* width: 100%; */
    display: flex;
    /* flex-direction: row-reverse; */
}

.flex-item {
    background: coral;
    border: 1px solid black;
    padding: 30px;
    flex: 1;
}

.flex-item:nth-of-type(1) {
    order: 2;
}

.flex-item:nth-of-type(2) {
    order: 1;
}

.flex-item:nth-of-type(3) {
    order: 3;
}

.flex-item:nth-of-type(4) {
    order: 6;
}

.flex-item:nth-of-type(5) {
    order: 5;
}

.flex-item:nth-of-type(6) {
    order: 4;
}